body{
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height:21px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.spa{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2E2F42;
    text-decoration: none;
}
.page-menu-list a{
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.page-menu-list li{
    list-style-type: none;
}
.page-address-list a{
    text-decoration: none;
    color:#434455 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.page-menu-list li :hover{
    color: #404BBF;
}

.page-address-list li{
    list-style-type: none;
}
.page-address-list li :hover {
    color:#404BBF;
}

.first-section {
    background-color: #2E2F42;
}
.first-section h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: #FFFFFF;
    text-align: center;
}
.first-section button{
    background-color:#4D5AE5 ;
    font-weight:500px;
    font-size :16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: #FFFFFF;
}
.second-section h3 {
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.second-section li{
    list-style-type: none;
}
.second-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:#434455;
}
.third-section{
    background-color:#F4F4FD ;

}
.our-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #2E2F42;
    text-align: center;
}
.third-section li {
    list-style-type: none;
}
.third-section li h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.third-section li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:#434455 ;
}
.our-name-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #2E2F42;
    text-align: center;
}
.fourth-section li {
    list-style-type: none;
}
.fourth-section li h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.fourth-section li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
footer {
    background-color: #2E2F42;
}
.logo-two {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
}
.spa-two {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color: #F4F4FD;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #F4F4FD;
}



