body{
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height:21px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.spa{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2E2F42;
    text-decoration: none;
}
.navbar{
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.navbar{
    list-style-type: none;
}


.page-address-list a{
    text-decoration: none;
    color:#434455 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.page-menu-list li :hover{
    color: #404BBF;
}

.page-address-list li{
    list-style-type: none;
}
.page-address-list li :hover {
    color:#404BBF;
}

.first-section {
    background-color: #2E2F42;
}
.h1-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02;
    color:#FFFFFF;
    text-align:  center;
}
 button{
    cursor: pointer;

}
.button-item{
    background-color:#4D5AE5 ;
    font-weight: 500px;
    font-size :16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
.button-item :hover
.button-item:focus
{
   background-color:#404BBF;
}
.h3-title  {
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.second-section li{
    list-style-type: none;
}
.p-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.third-section{
    background-color:#F4F4FD ;

}
.our-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}
.li-our-name{
    background-color: #FFFFFF;
}
.third-section li {
    list-style-type: none;
}

.feature{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.came {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455 ;
}
.our-name-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}
.fourth-section li {
    list-style-type: none;
}
.still {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.contect {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.logoo{
    background-color: #2E2F42;
}
.logo-two {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
}
.spa-two {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color:  #F4F4FD
}
.logo-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color: #F4F4FD;
}



